In [1]:
import pandas as pd
import re
import random
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import pickle as pk

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.tsv', sep = '\t')

In [3]:
movies = movies.drop(['originalTitle','endYear'], axis = 1)

In [4]:
cols = movies.columns

In [5]:
print(cols)

Index(['tconst', 'titleType', 'primaryTitle', 'isAdult', 'startYear',
       'runtimeMinutes', 'genres'],
      dtype='object')

In [6]:
for c in cols:
    print(movies[c].unique())

['tt0000502' 'tt0000574' 'tt0000591' ... 'tt9916706' 'tt9916730'
 'tt9916754']
['movie']
['Bohemios' 'The Story of the Kelly Gang' 'The Prodigal Son' ...
 'Dankyavar Danka' '6 Gunn' 'Chico Albuquerque - Revelações']
[0 1]
['1905' '1906' '1907' '1908' '1909' '1910' '1912' '1911' '1913' '1915'
 '1914' '1919' '1916' '1917' '1936' '1925' '1918' '1920' '1922' '1921'
 '1924' '1923' '1928' '2019' '2021' '1926' '1927' '1929' '2000' '1993'
 '1935' '1930' '1942' '1932' '1931' '1934' '1939' '1937' '1933' '1950'
 '1938' '1951' '1946' '1996' '1940' '1944' '1947' '1941' '1952' '1970'
 '1957' '1943' '1948' '1945' '2001' '1949' '1953' '1954' '1965' '1983'
 '1980' '1973' '1961' '1955' '1962' '1958' '1956' '1977' '1964' '1960'
 '1959' '1967' '1968' '1963' '1971' '1969' '1972' '1966' '1976' '1990'
 '1979' '1981' '2020' '1975' '1978' '1989' '1974' '1986' '1995' '1987'
 '1985' '2018' '1984' '1982' '1988' '1991' '\\N' '1994' '1992' '2005'
 '2004' '1998' '2016' '2002' '2017' '1997' '1999' '2006' '2008' '2009'
 '2003' '2007' '2022' '2010' '1898' '1899' '2012' '2013' '2011' '1904'
 '2024' '2015' '1897' '1901' '1902' '1900' '1903' '2014' '2023' '2025'
 '2027' '2026' '2028' '2029' '1896']
['100' '70' '90' '\\N' '120' '58' '50' '51' '52' '45' '92' '60' '56' '53'
 '48' '47' '68' '71' '46' '76' '85' '40' '55' '32' '121' '89' '69' '54'
 '150' '64' '96' '49' '61' '101' '300' '57' '99' '110' '88' '86' '170'
 '72' '78' '75' '450' '148' '124' '220' '59' '63' '112' '1428' '84' '65'
 '74' '105' '310' '73' '82' '81' '199' '139' '109' '67' '219' '80' '13'
 '195' '440' '77' '293' '97' '62' '12' '250' '421' '360' '180' '66' '93'
 '163' '400' '104' '95' '140' '165' '116' '83' '320' '125' '127' '138'
 '460' '350' '374' '480' '91' '87' '130' '108' '79' '136' '94' '600' '240'
 '117' '410' '135' '146' '418' '330' '242' '223' '489' '102' '200' '98'
 '119' '122' '115' '207' '166' '106' '111' '145' '131' '243' '172' '167'
 '103' '206' '157' '107' '248' '235' '184' '380' '133' '128' '143' '155'
 '137' '183' '210' '417' '141' '162' '153' '132' '129' '123' '144' '151'
 '114' '113' '359' '118' '126' '179' '260' '230' '168' '160' '142' '159'
 '185' '156' '215' '177' '213' '149' '15' '147' '266' '152' '217' '158'
 '226' '164' '194' '225' '216' '227' '231' '218' '246' '208' '228' '229'
 '212' '236' '306' '257' '245' '197' '255' '323' '305' '328' '269' '176'
 '232' '258' '256' '281' '303' '290' '308' '224' '294' '252' '268' '204'
 '298' '299' '264' '211' '302' '238' '263' '134' '265' '205' '154' '237'
 '285' '267' '247' '186' '241' '289' '283' '270' '251' '278' '196' '279'
 '261' '275' '11' '280' '37' '244' '189' '169' '284' '295' '201' '221'
 '192' '171' '30' '193' '287' '161' '181' '175' '174' '173' '315' '182'
 '239' '178' '188' '10' '209' '190' '18' '21' '191' '234' '453' '203'
 '253' '23' '202' '187' '2' '317' '763' '311' '273' '442' '288' '222'
 '437' '367' '566' '272' '357' '873' '358' '335' '214' '3' '501' '735'
 '271' '439' '316' '620' '198' '277' '24' '19' '28' '38' '42' '700' '20'
 '5' '371' '665' '17' '9' '44' '29' '659' '426' '465' '1500' '41' '321'
 '233' '485' '27' '382' '6' '33' '385' '361' '338' '3122' '776' '340' '43'
 '7' '254' '2382' '345' '420' '580' '4' '312' '22' '5220' '25' '35' '16'
 '336' '1' '2880' '366' '301' '1970' '551' '720' '262' '392' '999' '402'
 '540' '395' '36' '414' '363' '1035' '259' '719' '429' '325' '296' '388'
 '669' '8' '390' '10062' '2160' '26' '14' '368' '326' '282' '570' '384'
 '1325' '369' '319' '495' '28643' '354' '331' '663' '575' '520' '39' '435'
 '372' '1320' '468' '840' '34' '950' '276' '375' '409' '292' '675' '397'
 '1452' '249' '373' '343' '339' '641' '332' '396' '7200' '1440' '364'
 '425' '356' '1800' '502' '680' '761' '1200' '31' '510' '274' '2400' '500'
 '1669' '322' '605' '307' '398' '865' '304' '490' '353' '324' '842' '545'
 '291' '9000' '613' '411' '333' '14400' '703' '404' '416' '625' '476'
 '286' '780' '341' '3077' '43200' '352' '334' '1151' '549' '6000' '2905'
 '5460' '467' '448' '607' '379' '1559' '900' '4080' '346' '406' '1260'
 '623' '378' '746' '1184' '1179' '365' '383' '51420' '1100' '601' '660'
 '808' '447' '990']
['\\N' 'Action,Adventure,Biography' 'Drama' ... 'Music,Musical,Reality-TV'
 'Action,Crime,Short' 'News,Sport,Talk-Show']

In [7]:
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1888
1        tt0000002            5.9       250
2        tt0000003            6.5      1677
3        tt0000004            5.8       163
4        tt0000005            6.2      2498
...            ...            ...       ...
1253545  tt9916690            6.5         6
1253546  tt9916720            5.3       223
1253547  tt9916730            8.4         6
1253548  tt9916766            6.7        20
1253549  tt9916778            7.2        35

[1253550 rows x 3 columns]

In [8]:
movies['genres'] = movies['genres'].replace('\\N','unknown')

In [9]:
all_genre = {}
for i, l in enumerate(movies['genres'].str.split(',')):
    if 'unknown' in l:
        if 'unknown' not in all_genre.keys():
            all_genre['unknown'] = [i]
        else:
            all_genre['unknown'].append(i)
    else:
        for c in l:
            if c not in all_genre.keys():
                all_genre[c] = [i]
            else:
                all_genre[c].append(i)

In [10]:
movies_oh = movies.copy()
movies_oh = movies_oh.reset_index()
for g in all_genre.keys():
    movies_oh[g] = [0] * len(movies_oh)
    movies_oh.loc[all_genre[g], g] = 1

In [11]:
movies_oh = movies_oh.drop(['index'],axis = 1)

In [12]:
movies_oh['runtimeMinutes'] = movies_oh['runtimeMinutes'].replace('\\N', 0)

In [13]:
movies_oh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613013 entries, 0 to 613012
Data columns (total 36 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          613013 non-null  object
 1   titleType       613013 non-null  object
 2   primaryTitle    613013 non-null  object
 3   isAdult         613013 non-null  int64
 4   startYear       613013 non-null  object
 5   runtimeMinutes  613013 non-null  object
 6   genres          613013 non-null  object
 7   unknown         613013 non-null  int64
 8   Action          613013 non-null  int64
 9   Adventure       613013 non-null  int64
 10  Biography       613013 non-null  int64
 11  Drama           613013 non-null  int64
 12  Fantasy         613013 non-null  int64
 13  Comedy          613013 non-null  int64
 14  War             613013 non-null  int64
 15  Documentary     613013 non-null  int64
 16  Crime           613013 non-null  int64
 17  Romance         613013 non-null  int64
 18  Family          613013 non-null  int64
 19  History         613013 non-null  int64
 20  Sci-Fi          613013 non-null  int64
 21  Thriller        613013 non-null  int64
 22  Western         613013 non-null  int64
 23  Sport           613013 non-null  int64
 24  Mystery         613013 non-null  int64
 25  Horror          613013 non-null  int64
 26  Music           613013 non-null  int64
 27  Animation       613013 non-null  int64
 28  Musical         613013 non-null  int64
 29  Film-Noir       613013 non-null  int64
 30  News            613013 non-null  int64
 31  Short           613013 non-null  int64
 32  Adult           613013 non-null  int64
 33  Reality-TV      613013 non-null  int64
 34  Talk-Show       613013 non-null  int64
 35  Game-Show       613013 non-null  int64
dtypes: int64(30), object(6)
memory usage: 168.4+ MB

In [14]:
movies_oh = movies_oh.astype({'runtimeMinutes':int})

In [15]:
year_dict = {v : i for i, v in enumerate(movies_oh['startYear'].unique())}

In [16]:
movies_oh['startYear'] = movies_oh['startYear'].map(year_dict)

In [17]:
movies_oh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613013 entries, 0 to 613012
Data columns (total 36 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          613013 non-null  object
 1   titleType       613013 non-null  object
 2   primaryTitle    613013 non-null  object
 3   isAdult         613013 non-null  int64
 4   startYear       613013 non-null  int64
 5   runtimeMinutes  613013 non-null  int32
 6   genres          613013 non-null  object
 7   unknown         613013 non-null  int64
 8   Action          613013 non-null  int64
 9   Adventure       613013 non-null  int64
 10  Biography       613013 non-null  int64
 11  Drama           613013 non-null  int64
 12  Fantasy         613013 non-null  int64
 13  Comedy          613013 non-null  int64
 14  War             613013 non-null  int64
 15  Documentary     613013 non-null  int64
 16  Crime           613013 non-null  int64
 17  Romance         613013 non-null  int64
 18  Family          613013 non-null  int64
 19  History         613013 non-null  int64
 20  Sci-Fi          613013 non-null  int64
 21  Thriller        613013 non-null  int64
 22  Western         613013 non-null  int64
 23  Sport           613013 non-null  int64
 24  Mystery         613013 non-null  int64
 25  Horror          613013 non-null  int64
 26  Music           613013 non-null  int64
 27  Animation       613013 non-null  int64
 28  Musical         613013 non-null  int64
 29  Film-Noir       613013 non-null  int64
 30  News            613013 non-null  int64
 31  Short           613013 non-null  int64
 32  Adult           613013 non-null  int64
 33  Reality-TV      613013 non-null  int64
 34  Talk-Show       613013 non-null  int64
 35  Game-Show       613013 non-null  int64
dtypes: int32(1), int64(31), object(4)
memory usage: 166.0+ MB

In [18]:
train = movies_oh.select_dtypes(exclude = 'object')

In [19]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=100, n_jobs=-1)
knn.fit(train)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=100)

In [20]:
dist, n = knn.kneighbors(np.array(train.loc[424548, :]).reshape(1,-1))

In [21]:
movies_oh.loc[n[0], 'primaryTitle']

424548          Avengers: Age of Ultron
217380                        Star Trek
186071                         Iron Man
525735                         Moonfall
224548           The Amazing Spider-Man
                      ...
294464        Liverpool vs Leeds United
280393                     Tiger Killer
235749                         Immortal
300629           Southampton vs Everton
302635    Leicester City vs Aston Villa
Name: primaryTitle, Length: 100, dtype: object

In [22]:
movies_oh_rating = pd.merge(movies_oh, ratings, 'left', on = 'tconst')

In [ ]:
movies_oh_rating.fillna(0, inplace = True)

In [ ]:
train_rating = movies_oh_rating.select_dtypes(exclude = 'object')

In [ ]:
train_rating

In [ ]:
knn2 = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=100, n_jobs=-1)
knn2.fit(train_rating)

In [ ]:
dist2, n2 = knn2.kneighbors(np.array(train_rating.loc[424548, :]).reshape(1,-1))

In [ ]:
movies_oh_rating.loc[n2[0], 'primaryTitle']

In [ ]:
rating_only = pd.merge(movies_oh[['tconst','primaryTitle', 'isAdult','startYear']], ratings, 'left', on = 'tconst')

In [ ]:
rating_only = rating_only.fillna(0)
train_rating_only = rating_only.select_dtypes(exclude = 'object')

In [ ]:
train_rating_only

In [ ]:
from sklearn.neighbors import NearestNeighbors
knn3 = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=100, n_jobs=-1)
knn3.fit(train_rating_only)

In [ ]:
dist3, n3 = knn3.kneighbors(np.array(train_rating_only.loc[424548, :]).reshape(1,-1))

In [ ]:
movies_oh_rating.loc[n3[0], 'primaryTitle']

In [ ]:
with open('knn.pickle', 'wb') as f:
    pk.dump(knn, f)
with open('knn2.pickle', 'wb') as f:
    pk.dump(knn2,f)